h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    border: 1px solid black;
    margin: auto;
    height: 30rem;
    width: 30rem;
    grid-template-columns: repeat(16, auto);
}

.grid div {
    border: 1px solid black;
}